@model EmployeeTimeSheet.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="login">
    <h3 class="text-center text-white pt-5">Change account password</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" asp-action="changepassword" asp-controller="account" method="post">
                        <h3 class="text-center text-info">Change account password</h3>
                        <div class="form-group">
                            <label asp-for="CurrentPassword" class="text-info">Current password</label><br>
                            <input asp-for="CurrentPassword" type="password" class="form-control" autocomplete="off">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="text-info">New password</label><br>
                            <input asp-for="NewPassword" type="password" class="form-control" autocomplete="off">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="text-info">Confirm new password</label><br>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="off">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-info btn-md">Save changes</button>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml");
}




