@model EmployeeTimeSheet.ViewModels.Project.CreateProjectViewModel;
@inject DAL.Repositories.IUserSQLRepository userRepository;
@{
    ViewData["Title"] = "CreateNewProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var supervisors = await userRepository.GetAllSupervisorsAsync();
}


<div id="login">
    <h3 class="text-center text-white pt-5">Create new šrpject</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" asp-area="admin" asp-action="createnewproject" asp-controller="project" method="post">
                        <h3 class="text-center text-info">Create new project</h3>
                        <div class="form-group">
                            <label asp-for="Name" class="text-info">Project name</label><br>
                            <input asp-for="Name" type="text" class="form-control" autocomplete="off">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="text-info">Project description</label><br>
                            <input asp-for="Description" type="text" class="form-control" autocomplete="off">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                      
                        <div class="form-group">
                            <label asp-for="AssignedByUserId" class="text-info">Project supervisor</label>
                            <select asp-for="AssignedByUserId" class="form-control">

                                <option value="">Please select project supervisor</option>
                                @for (int i = 0; i < supervisors.Count(); i++)
                                {

                                    <option value="@supervisors.ElementAt(i).Id">@supervisors.ElementAt(i).Username</option>


                                }



                            </select>
                            <span asp-validation-for="AssignedByUserId" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-info btn-md">Create project</button>
                        <a asp-area="admin" asp-action="index" asp-controller="project" class="btn btn-secondary btn-md">Back</a>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml");
}




