@model string;
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin:2% 0;">
    <div class="card-body">
        <h1>Success</h1>
        @if (Model != null)
        {
            <h2>@Model</h2>
        }
    </div>
    <a asp-action="index" asp-controller="home" class="btn btn-secondary">Back to home</a>
</div>


